<div class="main-container">

  {% include '@bbt/parts/header.html.twig' with [page] %}

  <section class="main" id="main">
     <main aria-label="Site main content" class="content" id="content" role="main">
       {{ page.content }}
     </main>

  </section>

  {{ page.footer }}

</div>
