.form-text,
.text-full,
.form-email
  +input

  .form-text
    max-width: 300px

  &:focus
    outline: 2px solid var(--accent1)
    background-color: rgba(255,255,255,0.8)


  label.form-required
    font-family: Montserrat
    font-weight: 500


.description
  color: $text-color-muted
  text-align: center

.form-submit
  +primary-button

  min-width: 150px
  min-height: 50px
  margin:10px 30px


.user-login-form
  display: flex
  flex-direction: column
  align-items: center
  background-color: transparent
  border-radius: 20px
  padding: 20px
  max-width: 350px
  margin: auto

.form-item-name,
.form-item-pass
  display: flex
  flex-direction: column

  label
    font-family: Montserrat
    color: $text-color
    font-weight: 500
    display: inline-block
    width: 100%

  .description
    display: none


.form-actions
  display: flex
  width: 100%


.user-register-form
  .form-item
    margin:30px 10px

  label
    font-weight: 500
    font-size: 1.1rem


.form-managed-file
  display: flex
  justify-content: space-between
  align-items: center

  & > *
    margin-bottom: 10px


  @media screen and (max-width:550px)
    flex-direction: column



  img
    margin-right: 10px
  .form-submit
    background-image: none
    background-color: darkred
    max-width: 200px


.form-file
  // display: none

.js-form-type-managed-file
  position: relative

  .description
    margin-top: 10px

