.local-task-container>ul, 
.links 
  +clear-style
  display: flex
  margin: 10px
  flex-wrap: wrap
  justify-content: center

  li
    text-align: center
    background-color: rgba(100, 100, 100, 0.15)
    border-radius: 5px
    padding: 10px
    cursor: pointer
    margin: 2px
    flex-grow: 1

    &:hover
      background-color: rgba(100, 100, 100, 0.2)


    a
      color: $text-color
      font-weight: bold
      text-decoration: none