.logo-container
  flex-grow: 1

.logo-text
  font-size: 60px
  text-decoration: underline
  color: white
  line-height: 45px
  text-transform: lowercase

  &:hover
    +white-hover-shadow

    color: white

.logo
  height: 100px
  margin-top: -25px

  &:hover
    transform: scale(1.1)
