=clear-style
  background: transparent
  border: none
  padding: 0
  margin: 0
  list-style: none
  text-decoration: none

=white-hover-shadow
  text-shadow: (-0.4px) -0.4px 0 white, 0.4px -0.4px 0 white, -0.4px 0.4px 0 white, 0.4px 0.4px 0 white
  cursor: pointer

=white-hover-shadow-subtle
  text-shadow: (-0.1px) -0.1px 0 white, 0.1px -0.1px 0 white, -0.1px 0.1px 0 white, 0.1px 0.1px 0 white
  cursor: pointer
