<div class="search-container">
  <form
    role="search"
    method="get"
    id="searchform"
    class="searchform hide-submit"
    action="<?php echo home_url("/"); ?>"

    <label class="hidden" for="s">Search for:</label>
    <input type="text" name="s" id="s" class="search-text" value="" required>
    <button type="button" role="presentation" class="search-toggle">
      {% include directory ~ '/templates/icons/icon--search.html.twig' %}
    </button>
    <button type="reset" role="presentation" class="search-empty">
    {% include directory ~ '/templates/icons/icon--close.html.twig' %}
    </button>
    <button type="submit" class="search-submit">
      {% include directory ~ '/templates/icons/icon--search.html.twig' %}
    </button>

  </form>
</div>
