<div class="article">

	{% if content.field_image %}
		{{ content.field_image }}
	{% endif %}

	{{ content.body }}


	<h1 class="text-center subtitle">Share this article:
	</h1>

	{% include '@bbt/parts/social.html.twig' with [title] %}

{% if (content.field_tags["#items"]|length) > 0 %}
		<h1 class="text-center subtitle">Read more about:</h1>
		{{ content.field_tags }}
	{% endif %}
</div>

{{ content.comment }}
