<div class="article">

	{{ content.field_image }}

	{{ content.body }}


	<h1 class="text-center subtitle">Share this article:
	</h1>
	{% include '@bbt/parts/social.html.twig' with [title_for_url] %}

	<h1 class="text-center subtitle">Read more about:</h1>
	{{ content.field_tags }}
</div>

{{ content.comment }}