<div class="search-container">
  <form
    role="search"
    method="get"
    id="search-block-form"
    class="searchform hide-submit"
    action="/search/node"
    accept-charset="UTF-8"
    data-once="form-updated"
    >

    <label class="hidden" for="keys">Search for:</label>
    <input type="search" name="keys" id="edit-keys--2" class="search-text" value="" data-drupal-selector="edit-keys" size="15" maxlength="128" required>
    <button type="button" role="presentation" class="search-toggle">
      {% include directory ~ '/templates/icons/icon--search.html.twig' %}
    </button>
    <button type="reset" role="presentation" class="search-empty">
    {% include directory ~ '/templates/icons/icon--close.html.twig' %}
    </button>
    <button type="submit" class="search-submit">
      {% include directory ~ '/templates/icons/icon--search.html.twig' %}
    </button>

  </form>
</div>
