<header aria-label="Site header" class="header" id="header" role="banner">
    <div class="upper-header">
      {{ page.upper_header}}
    </div>
    <div class="lower-header">
      {{ page.lower_header}}
    </div>

    {% include '@bbt/parts/svg-border.html.twig' %}
</header>
